.my-modal {
    background-color: #FFFFFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px ;
    margin-left: 20%;
    margin-top: 8%;
    max-width: 25%;    /* Occupy the 90% of the screen width */
}

