div.app_container {
    height: 100%;
    width: 100%;
    font-family: "Malgun Gothic";
}

.app_container .navbar-brand {
  font-weight: bold;
}

a{
  text-decoration: none;
  background-color: transparent;
}

.sidenav {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 260px; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden; /* Disable horizontal scroll */
    font-family: "Roboto";
    font-weight: 200;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-image: url("./containers/images/Chitty Chitty Bang Bang.jpg");
}

.sidenav::before{
    opacity: .2;
    background: #000000;
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidenav .sidenav-wrapper{
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 3;
    padding-bottom: 30px;
}

.sidenav .logo{
    margin-top: 10%;
}

.sidenav .logo img{
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
}

.sidenav .nav i {
  font-size: 28px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}

.sidenav .nav li > a {
  color: #FFFFFF;
  margin: 5px 15px;
  opacity: .86;
  border-radius: 4px;
}

.sidenav .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}


.sidenav .nav a, .table > tbody > tr .td-actions .btn {
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.nav_item{
    margin: 20px 0px;
}

.nav_item > h3{
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0px;
    font-family: arial;
    font-weight: bold;
}

/* The navigation menu links */
/*.sidenav .nav_item a {*/
  /*display: block;*/
  /*text-decoration: none;*/
  /*padding-left: 15%;*/
  /*font-size: 20px;*/
  /*color: #818181;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*transform: translate(0, -50%)*/
/*}*/

/* When you mouse over the navigation links, change their color */
/*.sidenav .nav_item a:hover {*/
  /*color: #f1f1f1;*/
/*}*/

/* Style page content */
.main {
  width: 100%;
  /*margin-left: 15%; !* Same as the width of the sidebar *!*/
  /*padding: 0px 10px;*/
}

.h3{
  font-family: "Malgun Gothic";
}

div.main_content{
    float: left;
    margin-top: 2%;
    width: 100%;
    /*width: calc(100% - 25%);*/
}

div.right_content{
    float: right;
    margin-top: 2%;
    width: 25%;
    background-color: #10CE88;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


